{% extends 'base.html.twig' %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('scp') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('scp') }}
    <script>
        window.username = "andresc"
    </script>
{% endblock %}

{% block footer %}
    <div class="footer m-4 bg-light ps-4 mt-5">
        {{ release }} &copy; {{ author }} {{ year }} - All rights reserved
    </div>
{% endblock %}
